body{
    background-color: #333132;
}

#map {
    margin: auto;
    width: 60%;
    height: 400px;
}

/* Changing the Logo size */
#theLogo {
    width: 240px;
}

/* This is an ID that is used for every page on the website as the header */
#header{
    background-color: #70132d;
    position: relative;
    width: 100%;
    margin-top: -20px;
    padding-right: 20px;
    padding-left: 20px;
    color: white;
    height: 180px;
}

/* This is a class that gives the login and signup buttons more color based on */
/* on the color scheme for the website */
.buttonFeat {
    color: #fff;
    background-color: #70132d;
    border-color: #70132d;
}

/* This is a class that is used for the paragraph that is always in the header */
.paragraph {
    font-size: 22px;
    padding-top: 40px;
    padding-right: 60px;
    font-family: Libre Baskerville, serif;
    
}

/* This is an ID that is used for every text box that is used in AccSettings */
#textBox {
    color: white;
    position: relative;
    margin-top: 20px;
    display: inline-block;
    width: 80%;
    padding-left: 40px;
}

/* This is an ID for the question on majors and minors */
#question {
    width: 80%;
    display: block;
    color: white;
    position: relative;
    margin-top: 40px;
    margin-bottom: 20px;
    padding-left: 60px;
    font-size: 20px;
}

/* Makes sure the text boxes used to login change depending on whether you are
   on a computer or mobile device */
#userInfo {
    width: 50%;
}

/* Space to create between different topics */
#space {
    padding-bottom: 40px;
}

/* This is an ID that is used for any Graduation text boxes in AccSettings */
#GradBox {
    color: white;
    position: relative;
    margin-top: 20px;
    display: inline-block;
    width: 60%;
    padding-left: 40px;
}

/* This is an ID that is used for any submit buttons. This is used in the 
   the SignUp page. */
#submitButt {
    background-color: #70132d; 
    color: white;
    border-color: #333132;
    margin-top: 50px;
}

/* This is an ID that is used for any submit buttons. This is used in the 
   the Account Settings page. */
#updateAccSett {
    background-color: #70132d; 
    color: white;
    border-color: #333132;
    margin-left: 55px;
    margin-top: 50px;
}

/* This is an ID that is used for every text box that is used in SignUp */
#textSignUp {
    color: white;
    position: relative;
    margin-top: 20px;
    display: inline-block;
    width: 60%;
    padding-left: 40px;
}

/* This is an ID that is used in the SignUp for the word "Disclaimer" */
#disclaim {
    position: relative;
    color: white;
    margin-left: 50px;
    margin-top: 50px;
    font-size: 30px;
}

/* This is an ID that is used in the SignUp for the disclaimer paragraph */
#disclaimPara {
    font-size: 20px;
    position: relative;
    color: white;
    margin-top: 10px;
    margin-left: 50px;
    margin-bottom: 0px;
    margin-right: 50px;
}

/* This is an ID that is used in the SignUp for the checkbox */
#checkbox {
    position: relative;
    margin-top: 50px;
    margin-left: 100px;
}

/* This is an class that is used for all of the years in the Admin Page */
.panelDiv {
    width: 50% !important;
    margin-left: 25% !important;
    
}

/* This is an class that is used for all of the names in the Admin Page */
.panelBody {
    width: 50% !important;
    
}

