body{
    background-color: #333132;
}

#Map{
    height: 550px;
    width: 800px;
    max-height: 100%;
    max-width: 100%;
    margin: auto;
    margin-top: 10px;
}

#theMap{
    width: 100%;
    height: 100%;
 }

#logo{
    height: 100px;
    width: 100px;
    display: inline;
}

#theLogo{
    max-width: 100%;
    max-height: 100%;
}


#header{
    background-color: #70132d;
    position: relative;
    width: 100%;
    height: 180px;
    /* margin-top: -9px; */
    margin-left: -10px;
    padding-right: 20px;
}

#welcomeNote {
    position: absolute;
    bottom: 8px;
    right: 250px;
    font-size: 18px;
    color: white;
}

#infoDiv {
    max-height: 100%;
    max-width: 100%;
    background-color: #8F8F8F;
    height: 150px;
    width: 500px;
    margin-top: 10px;
    position: relative;
    padding-left: 10px;
    padding-right: 10px;

    font-family: Libre Baskerville, serif;
}

#infoParagraph {
    padding-top: 15px;
    padding-left: 5px;
}


/* CSS for the list of people on the admin page */

#personList{
    max-height: 100%;
    max-width: 100%;
    background-color: #f2c6f2;
    height: 200px;
    width: 600px;
    margin: auto;
    margin-top: 10px;
}

.nameList{
    height: 100px;
    width: 100px;
    border: solid 1px black;
    display: inline-block;
    padding: 6px;
}